{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Botnet</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Emphasize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- // custom-theme -->
<!--css links-->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /><!--bootstrap-->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"><!--font-awesome-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" /><!--stylesheet-->
<!--//css links-->
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
<!--//fonts-->
</head>
<body>
<!-- Header -->
<div id="home" class="banner w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
			<div class="header-top">
					<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand" href="index.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i>S.T.A.R. Labs</a>
								</h1>
					</div>
					<!-- navbar-header -->
					<div class="contact-bnr-w3-agile">
								<ul>
									<li></li>
									<li></li>	
								</ul>
							</div>
							</div>
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'userhome' %}" class="active">Home</a></li>
							<li><a href="{% url 'trainpg' %}">Train Data</a></li>
							<li><a href="{% url 'incommingreq' %}">View Incomming Requset</a></li>
                            <li><a href="{% url 'analysis' %}">Analysis</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
							<div class="clearfix"> </div>
		</div>

		<div class="container">
		<div class="banner-info wow bounceInDown" data-wow-duration="1s" data-wow-delay="0s">
			<div  class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3>Botnet</h3>
							<p>A botnet is a number of Internet connected devices, each of which is running one or more bots.</p>
							<div class="more-button">
			<a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
		</div>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>Botnet Architecture</h3>
							<p>Botnet architecture has evolved over time in an effort to evade detection and disruption.</p>
							<div class="more-button">
			<a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
		</div>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>Botmaster</h3>
							<p>Botmaster exploits the vulnerabilities of individual computers connected in the internet to form the Botnet.</p>
							<div class="more-button">
			<a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
		</div>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>Botnet Detection</h3>
							<p>Botnet detection deals with the identification of bots in the machine or network.</p>
							<div class="more-button">
			<a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
		</div>
						</div>
					</li>
				</ul>
			</div>	
		</div>
		
		</div>
</div>	
<!-- //Header -->
<!-- Modal1 -->
						<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4>Botnet</h4>
										<img src="{% static 'images/bann.jpg' %}" alt=" " class="img-responsive">
										<h5>Botnet Detection</h5>
										<p>The bots require some sort of interaction with the command and control servers.Intrusion Detection System is an approach for botnet detection that can be either a signature or anomaly-based technique.</p>
									</div>
								</div>
							</div>
						</div>
<!-- //Modal1 -->
<!-- about-agileits -->
<!-- Stats -->
	<!-- //Stats -->
<!--Events --> 
		
<!-- //Events --> 
<!--testimonials-->

<!--//testimonials-->
<!-- footer -->


<!--//footer -->
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!--//js -->
<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
<!-- responsiveslides -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
			<script>
									// You can also use "$(window).load(function() {"
									$(function () {
									 // Slideshow 4
									$("#slider3").responsiveSlides({
										auto: true,
										pager: true,
										nav: true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
										}
										});
										});
			</script>
<!-- //responsiveslides -->
<!-- OnScroll-Number-Increase-JavaScript -->
	<script type="text/javascript" src="{% static 'js/numscroller-1.0.js' %}"></script>
<!-- //OnScroll-Number-Increase-JavaScript -->
<!--Scrolling-top -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--//Scrolling-top -->
 <!--flexiselDemo1 -->
 <script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 2,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 1
										},
										tablet: { 
											changePoint:991,
											visibleItems: 1
										}
									}
								});
								
							});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
<!--//flexiselDemo1 -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
</body>
</html>